[{lager, [
    {log_root, "./logs10000"},
    {crash_log, "crash.log"},
    {handlers, [
        {lager_console_backend, info},
        {lager_file_backend, [{file, "error.log"}, {level, error}]},
        {lager_file_backend, [{file, "console.log"}, {level, info}]}
    ]}
]},
{gatesvr, [
    {jsonrpc_eos, [
        {rpchost_pub, <<"114.115.135.201:8888">>},
        {rpchost, <<"114.115.135.201:8900">>}
    ]}
]},
{recon_web, [
    {ip, "127.0.0.1"},
    {port, 50000}
]}
].
