[{lager, [
    {log_root, "./logs10000"},
    {crash_log, "crash.log"},
    {handlers, [
        {lager_console_backend, info},
        {lager_file_backend, [{file, "error.log"}, {level, error}]},
        {lager_file_backend, [{file, "console.log"}, {level, info}]}
    ]}
]},
{gatesvr, [
    {jsonrpc_eos, [
        {rpchost_pub, <<"http://114.115.135.201:8888">>},
        %{rpchost_pub, <<"https://jungle2.cryptolions.io:443">>},
        {rpchost, <<"http://127.0.0.1:8900">>}
    ]}
]},
{recon_web, [
    {ip, "127.0.0.1"},
    {port, 50000}
]},
{cowboy, [
    {middlewares, [cowboy_router, cg_cowboy_middleware, cowboy_handler]}
]}
].
